<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->
<style>
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);

@prim: #53e3a6;

*{
	box-sizing: border-box;
	margin: 0;
	font-weight: 300;
}

body{
	font-family: 'Source Sans Pro', sans-serif;
	color: white;
	font-weight: 300;
	
	::-webkit-input-placeholder { /* WebKit browsers */
		font-family: 'Source Sans Pro', sans-serif;
			color:    white;
		font-weight: 300;
	}
	:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		font-family: 'Source Sans Pro', sans-serif;
		 color:    white;
		 opacity:  1;
		font-weight: 300;
	}
	::-moz-placeholder { /* Mozilla Firefox 19+ */
		font-family: 'Source Sans Pro', sans-serif;
		 color:    white;
		 opacity:  1;
		font-weight: 300;
	}
	:-ms-input-placeholder { /* Internet Explorer 10+ */
		font-family: 'Source Sans Pro', sans-serif;
		 color:    white;
		font-weight: 300;
	}
}

.wrapper{
background: #50a3a2;
background: -webkit-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
background: -moz-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
background: -o-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
	
	/* position: absolute; */
	position: relative;
	margin: auto;
	/* top: 50%;
	left: 0;
	width: 100%;
	height: 400px;
	margin-top: -200px;
	overflow: hiddeen; */
}

.container{
    display: flex;
    flex-direction: column;
	/* max-width: 600px; */
	margin: auto;
	padding: 30px 0;
	/* max-height: 400px; */
	text-align: center;
	
	h1{
		font-size: 40px;
		transition-duration: 1s;
		transition-timing-function: ease-in-put;
		font-weight: 200;
	}
}

form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
	padding: 30px;
    border-radius: 8px;
}

/* @-webkit-keyframes square {
  0%   { transform: translateY(0); }
  100% { transform: translateY(-700px) rotate(600deg); }
}
@keyframes square {
  0%   { transform: translateY(0); }
  100% { transform: translateY(-700px) rotate(600deg); }
} */
.left, .right {
  float: left;
  width: 20%; /* The width is 20%, by default */
}

.main {
  float: left;
  width: 60%; /* The width is 60%, by default */
}

/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 800px) {
  .left, .main, .right {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}
</style>
<head>
    <title>COVID-19 Certificate</title>
</head>
<body>
<div class="wrapper">
    <div class="container">
        <h1 style="padding-bottom: 40px;">COVID-19 Awareness Certificate Registration</h1>
        <form class="form" action="/post_create/" method="post">
            {% csrf_token %}
            <input placeholder="Name" type="text" name="name" style="padding: 10px; border-radius: 8px; border: green; text-align: center; margin: 3px; width: 250px;" required>
            <input placeholder="E-Mail" name="email" style="padding: 10px; border-radius: 8px; border: green; text-align: center; margin: 3px; width: 250px;" required>
            <input placeholder="Password" name="password" style="padding: 10px; border-radius: 8px; border: green; text-align: center; margin: 3px; width: 250px;" required><br><br>
            <input type="submit" style="padding: 10px; border-radius: 8px; border: green; text-align: center; margin: 3px; width: 250px;" value="Signup">
        </form>
	</div>
	<div style="text-align: center;">Please fill the details.<br>You will receive certificate of COVID-19 awareness.<br>Also share this with your friends and family.<br><br><br>Thank You! for being a responsible citizen of India.</div><br><br><br><br><br>
</div>
</body>
</html>