<!DOCTYPE html>
<html lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<head>
    <meta charset="UTF-8">
    <title>Thanks</title>
    <style>
        @import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);
        p{
        color: white;
        display: flex;
        flex-direction: column;
        padding: 8px;
        font-family: 'Source Sans Pro', sans-serif;
        text-align: center;
        margin: 50px, auto;
        }
    </style>
</head>
<body style="background-color: #52cfa5">
    <p>Thanks {{e}} !</p>
    <p>Your data has been saved successfully at {{t}}.</p>
    <p>Please share this with your friends and family.</p>
</body>
</html>